:host {
    display: flex;
    flex-direction: column;
    position: relative;
}

bde-editor-tabs {
    height: 40px;
}

bde-editor-tab > span {
    flex: 1;
}

bde-monaco-editor {
    flex: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}
