:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-base-03);
    padding: 0 16px 0 40px;
}

.document {
    display: flex;
    align-items: center;
}

.documentAuthor {
    font: var(--font-body-1);
}

.documentSeparator {
    font: var(--font-body-1);
}

.documentSeparator:before,
.documentSeparator:after {
    display: inline-block;
    content: "\00a0";
}

.documentTitle {
    display: flex;
    width: min-content;
    font: var(--font-heading-3);
    color: inherit;
    background: none;
    max-width: 240px;
}

.documentTitle::placeholder {
    color: var(--color-base-09);
}

.documentTitle.is-hidden {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    white-space: nowrap;
}

.documentShare {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.networkSelect {
    width: 200px;
}

.documentShare span {
    padding-left: 4px;
}

.settings {
    display: flex;
    align-items: center;
}

.settingsProfile {
    display: flex;
    align-items: center;
}

.settingsProfile > img {
    width: 28px;
    height: 28px;
}

.settingsProfile > span {
    padding-left: 8px;
}

.settingsPreviewToggle {
    display: flex;
    align-items: center;
    height: 28px;
    margin-left: 24px;
    background: none;
    color: var(--color-base-01);
}
.settingsPreviewToggle > span {
    padding-left: 3px;
}
