:host {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        "menubar menubar"
        "content preview"
        "content terminal";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 40px 2fr 1fr;
}

:host:not(.is-splitPane) {
    grid-template-columns: 4fr 0;
}

bde-editor-menubar {
    grid-area: menubar;
    background-color: #444444;
}

bde-editor-toolbar {
    grid-area: toolbar;
    background-color: #333333;
}

bde-editor-sidebar {
    grid-area: sidebar;
    min-width: 240px;
    background-color: #252526;
}

bde-editor-content {
    grid-area: content;
}

bde-editor-preview {
    grid-area: preview;
}

bde-editor-terminal {
    grid-area: terminal;
    background-color: #1e1e1e;
}
