:host {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    opacity: 0.8;
    color: var(--color-base-01);
    background: var(--color-base-20);
    transition: opacity 0.3s, color 0.3s;
    outline: none;
    cursor: pointer;
}

.action {
    height: 100%;
    margin-left: auto;
}

.tab > span {
    margin: 0 8px 0 4px;
}

.tab > bde-codicon:last-child {
    width: auto;
    margin-left: auto;
}
